{% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Portifolio construction</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <div class="container">
    <body class="body-b">
      <h1 class="text-center">Calculate Pension</h1>

      <form method="post" action="{% url 'customer:calculate_pension' %}" class="pension-form">
        {% csrf_token %}
        <div class="form-group">
          <label for="salary">Salary:</label>
          <input type="number" name="salary" class="form-control" required />
        </div>
        <div class="form-group">
          <label for="contribution_rate">Contribution Rate (%):</label>
          <input
            type="number"
            name="contribution_rate"
            class="form-control"
            required
          />
        </div>
        <div class="form-group">
          <label for="years_until_retirement">Years Until Retirement:</label>
          <input
            type="number"
            name="years_until_retirement"
            class="form-control"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Calculate</button>
      </form>
    </body>
  </div>
</html>


